Assignment
Use Pandas to read in the measurement and station CSV files as DataFrames.
Inspect the data for NaNs and missing values. You must decide what to do with this data.
Save your cleaned CSV files with the prefix clean_.

In [1]:
import numpy as np
import pandas as pd

In [2]:
measurements_df = pd.read_csv('hawaii_measurements.csv')

In [3]:
measurements_df.describe()

               prcp          tobs
count  18103.000000  19550.000000
mean       0.160644     73.097954
std        0.468746      4.523527
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [12]:
measurements_df.head(1)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65

In [15]:
measurements_df.tail(5)

           station        date  prcp  tobs
19545  USC00516128  2017-08-19  0.09    71
19546  USC00516128  2017-08-20   NaN    78
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

In [10]:
measurements_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [4]:
clean_measurements_df = measurements_df.dropna()
clean_measurements_df.describe()

               prcp          tobs
count  18103.000000  18103.000000
mean       0.160644     72.994863
std        0.468746      4.512107
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [5]:
clean_measurements_df.to_csv('clean_measurements.csv')

In [6]:
stations_df = pd.read_csv('hawaii_stations.csv')

In [7]:
stations_df.describe()

        latitude   longitude   elevation
count   9.000000    9.000000    9.000000
mean   21.393826 -157.867098   60.977778
std     0.086442    0.103873  103.465547
min    21.271600 -158.011100    0.900000
25%    21.333100 -157.975100    7.000000
50%    21.393400 -157.837400   14.600000
75%    21.451670 -157.802500   32.900000
max    21.521300 -157.711390  306.600000

In [13]:
stations_df.head(1)

       station                  name  latitude  longitude  elevation
0  USC00519397  WAIKIKI 717.2, HI US   21.2716  -157.8168        3.0

In [11]:
stations_df.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [8]:
clean_stations_df = stations_df.dropna()
clean_stations_df.describe()

        latitude   longitude   elevation
count   9.000000    9.000000    9.000000
mean   21.393826 -157.867098   60.977778
std     0.086442    0.103873  103.465547
min    21.271600 -158.011100    0.900000
25%    21.333100 -157.975100    7.000000
50%    21.393400 -157.837400   14.600000
75%    21.451670 -157.802500   32.900000
max    21.521300 -157.711390  306.600000

In [9]:
clean_stations_df.to_csv('clean_stations.csv')